{% extends 'include/base.html' %}

{% block content %}

<section class="section-pagetop bg">
  <div class="container">
    {% if 'search' in request.path %}
    <h2 class="title-page mt-3">Searching for <span class="text-danger">{{keyword}}</span></h2>
    {% else %}
    <h2 class="title-page mt-3">Book List</h2>
    {% endif %}
  </div> <!-- container //  -->
  </section>

<div class="container">
    <div class="row">
        <div class="col mt-5">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Publisher_name</th>
                    <th scope="col">Publisher_age</th>
                    <th scope="col">Page_no</th>
                    <th scope="col">Publication_date</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for book in lists %}
                  <tr>

                    <th scope="row">{{book.serial}}</th>
                    <td>{{book.title}}</td>
                    <td>{{book.publisher_name}}</td>
                    <td>{{book.publisher_age}}</td>
                    <td>{{book.page_no}}</td>
                    <td>{{book.publication_date}}</td>
                    <td>{{book.genre}}</td>
                    <td><a href="{% url 'update' book.serial %}" class="btn btn-success">Edit</a> <a href="{% url 'delete' book.serial %}" class="btn btn-danger">Delete</a></td>

                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% if is_paginated %}
              <div class="pagination">
                  <span class="page-links">
                      {% if page_obj.has_previous %}
                          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                      {% endif %}
                      <span class="page-current">
                          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                      </span>
                      {% if page_obj.has_next %}
                          <a href="?page={{ page_obj.next_page_number }}">next</a>
                      {% endif %}
                  </span>
              </div>
          {% endif %}
              <a href="{% url 'create' %}" class="btn btn-success"> Add Book</a>
        </div>
    </div>
</div>


{% endblock  %}